<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<display-name>PostServlet</display-name>
		<description></description>
		<servlet-class>BulletinBoard.Servlet.PostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<display-name>UserServlet</display-name>
		<description></description>
		<servlet-class>BulletinBoard.Servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<display-name>AccountServlet</display-name>
		<description></description>
		<servlet-class>BulletinBoard.Servlet.AccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpeg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post/Create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post/Edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post/ImportExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/Post/ExportExcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User/Create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User/Edit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User/Delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/User/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/ResetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/SendPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/Account/Logout</url-pattern>
	</servlet-mapping>
</web-app>
